html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, sans-serif;
    color: white;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    /* position: absolute; */
}

#loadingScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #1c385b;
    /* background-image: url("Galaxy_pattern.jpg"); */
}

#loadingScreen .content {
    margin-top: 40vh;
    background-color: rgba(15, 17, 30, 0.75);
    border: 1pt solid black;
    color: rgb(255, 247, 221);
    /* box-shadow: 0px 0px 28px 4px rgba(255, 247, 221, 0.75); */
}

#loadPercent {
    font-weight: 100;
    font-size: 0.6em;
    letter-spacing: 6pt;
}

#kassdedi {
    position: absolute;
    bottom: 8pt;
    right: 8pt;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1pt;
    font-size: 0.8em;
}

#credits {
    position: absolute;
   /* width: 30pt;
    height: 30pt;*/
    line-height: 30pt;
    text-align: center;
    right: 10pt;
    bottom: 10pt;
    display: none;
}

#credits a {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15pt;
    display: block;
    text-decoration: none;
    padding: 0 8pt;
}

#credits a:hover {
    background-color: white;
    color: black;
    border-radius: 15pt;
}

/* List without puce */
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
